extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li my text
  input(type="text").class-name#anyid

  - var condition=true

  if condition
    p its true
  
  - var anyArray =[1,2,3]
  each value in anyArray
    p= value
