<div id="container">
            <h1>jQ ajax</h1>

            <h2>Coffee Orders</h2>

            <h4>Add a coffee order</h4>
            <p>name: <input type="text" id="name"> </p>
            <p>drink: <input type="text" id="drink"> </p>
            <button id="add-order"> Add!</button>
        

        <ul id="orders"></ul>
    </div>
