<div class="container">
    <div class="row">  
        <div class="col-"></div>
        <div class="col-"></div>
        <div class="col-">
            <h1>Coffee Shop</h1>
            <p>Ahhh Coffee</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-3"></div>
        <div class="nav-bar col-">Here would be the nav bar</div>
    </div>
    </br>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form>
                <div class="form-group" >
                    <label for="nameOfPerson">Name:</label>
                    <input type="text" class"form-control" id="personsName" placeholder="Enter Name">
                    <small class="form-text text-muted">Please enter your name</small>
                </div>
                <div class="form-group">
                    <label for="drinkForPerson">Drink:</label>
                    <input type="text" class"form-control" id="personsDrink" placeholder="Enter Drink">
                    <small class="form-text text-muted">Please enter drink order</small>
                </div>
                <button type="submit" class="btn btn-primary" id="formSubmit">Submit</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
    </br>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <ul class="list-group" id="orderList">
                <li class="list-group-item">Bob - Black Coffee</li>
                <li class="list-group-item">Bob - Black Coffee</li>
            </ul>
        </div>
        <div class="col-3"></div>
    </div>




</div>
